@using System.Activities.Statements
@using SwcLmsMastery.Models.DBModels
@model SwcLmsMastery.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< 4c5ba12c01cfc4e8fb159382243584c95e4ec10d
=======

@*<<<<<<< db574221ff92b8264386431fa362e9b0a7f5a00e*@
>>>>>>> 595a341e2636f88ec8af45c6c431c32decfbf832
@{
    if ((User.IsInRole("Administrator")))
    {
        Html.RenderPartial("_AdminDash");
    }
    else if ((User.IsInRole("Teacher")))
    {
        Html.RenderPartial("_TeacherDash");
    }
    else if ((User.IsInRole("Student")))
    {
        Html.RenderPartial("_StudentDash");
    }
    else if ((User.IsInRole("Parent")))
    {
        Html.RenderPartial("_ParentDash");
    }
    else
    {
        Html.RenderPartial("_AwaitingAuth");
    }
}
<<<<<<< 4c5ba12c01cfc4e8fb159382243584c95e4ec10d
=======
@*=======
    <h2 style ="color: Red">Admin Dashboard</h2>
    <br/>
    <h4>Unnassigned Users</h4>

         <div class="container">
             <table style="border-width: 2px; border-color:#000000;
                                           border-style: solid;" class="table-striped" width="100%">
                 <thead style="background-color: #191970">
                 <tr>
                     <td><span style="color: white">&nbsp;Last Name</span></td>
                     <td><span style="color: white">First Name</span></td>
                     <td><span style="color: white">Email</span></td>
                     <td><span style="color: white">Suggested Role</span></td>
                     <td><span style="color: white">User Details</span></td>

                 </tr>
                 </thead>
                 <tbody style="border-width: 2px; border-color:#000000;
                                           border-style: solid;">
                     @{
                         using (var context = new SWC_LMSEntities())
                         {
                             foreach (var i in context.LmsUsers)
                             {
                                 <tr>
                                     <td>&nbsp;@i.LastName</td>
                                     <td>@i.FirstName</td>
                                     <td><a href="mailto:@i.Email">@i.Email</a></td>
                                     <td>@i.SuggestedRole</td>
                                     <td>@Html.ActionLink("Details", "UserDetails", "Manage", new {i.UserId}, null)</td>

                                 </tr>

                             }
                         }

                     }
             </tbody>

             </table>
    </div>

    <hr/><hr/>
    <h4>User Search</h4>
    <div class="container">
        <div class="well">

            @{
                using (var context = new SWC_LMSEntities())
                {


                    <div class="row todo-item">
                        <input type="hidden" value="Id" name="Id"/>
                        <div class="col-md-2">
                            <input type="text" id="idForLname" name="Lname" value="Last Name"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="idForFname" name="Fname" value="First Name"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="idForemail" name="Email" value="Email"/>
                        </div>


                        <div class="col-md-1">
                            <button class="btn btn-default" id="dets" style="background-color: greenyellow;">Search</button>
                        </div>
                    </div>
                }
            }
        </div>
    >>>>>>> 1ceecc20f29308f0b411ccab7c8e3c1c28fe7b1e

    }*@

>>>>>>> 595a341e2636f88ec8af45c6c431c32decfbf832
