
@{
    ViewBag.Title = "Gradebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.HeaderSpec Gradebook</h4>
<p><A href="#information">Information</A> || <A href="#Roster">Roster</A> || <a href="Gradebook.cshtml">Gradebook</a></p>

