
@{
    ViewBag.Title = "Gradebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.HeaderSpec Class</h4>
<p>@Html.ActionLink("Information", "Class", "Home") || <a href="#Roster">Roster</a> || @Html.ActionLink("Gradebook", "Gradebook", "Home")</p>

<hr/>
