@{

    ViewBag.Title = "Home Page";
}

<h1 align ="center">Software Craftsmanship Guild - Learning Management System</h1>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("_LoginHomePage")
    </div>
    <div class="col-md-6">
        @Html.Partial("_RegisterHomePage")
    </div>

</div>