@using SwcLmsMastery.Models.DBModels
@model List<SwcLmsMastery.Models.DBModels.LmsUser>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

@Scripts.Render("~/bundles/Jquery")
<script>
    $(function () {
        $('#searchBtn').click(function () {
            var firstName = $('#fNameSearch').val();
            var lastName = $('#lNameSearch').val();
            var email = $('#eMailSearch').val();

            var userObject = {
                FirstName: firstName,
                LastName: lastName,
                Email: email
            };

            $.ajax
             ({
                 type: 'POST',
                 url: '/api/UserSearch',
                 dataType: 'json',
                 contentType: 'application/json; charset=utf-8',
                 data: JSON.stringify(userObject),
                 success: function (data) {
                     $('#userTable').empty();
                     $.each(data, function (i, user) {
                         $('#userTable').append('<div class="col-md-3">' + user.FirstName + '</div>');
                         $('#userTable').append('<div class="col-md-3">' + user.LastName + '</div>');
                         $('#userTable').append('<div class="col-md-3">' + user.Email + '</div>');
                     });

                     // THIS DOES EXACTLY THE SAME THING AS THE $.each CODE ABOVE
                     //for (var i = 0; i < data.length; i++) {
                     //    var user = data[i];
                     //    $('#userTable').append('<div class="col-md-3"><a href="Account/AuthorizeUser/' + user.Id + '">Authorize</a></div>');
                     //    $('#userTable').append('<div class="col-md-3">' + user.FirstName + '</div>');
                     //    $('#userTable').append('<div class="col-md-3">' + user.LastName + '</div>');
                     //    $('#userTable').append('<div class="col-md-3">' + user.Email + '</div>');
                     //}

                 }
             });
        });
    });
</script>





<h2>User Search</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span>First Name</span>
        </div>
        <div class="col-md-3">
            <span>Last Name</span>
        </div>
        <div class="col-md-3">
            <span>Email</span>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="text" id="firstNameSearch" />
        </div>
        <div class="col-md-3">
            <input type="text" id="lastNameSearch" />
        </div>
        <div class="col-md-3">
            <input type="text" id="emailSearch" />
        </div>
        <div class="col-md-3">
            <span class="btn btn-default" id="searchBtn">Search</span>
        </div>
    </div>
    <hr />
    @*<div id="userTable">
        @foreach (var user in Model)
        { <div class="row">
            <div class="col-md-3">@user.FirstName</div>
            <div class="col-md-3">@user.LastName</div>
            <div class="col-md-3">@user.Email</div>
        </div>
        }
    </div>*@
</div>
