@using SwcLmsMastery.Models.DBModels
@model IEnumerable<SwcLmsMastery.Models.DBModels.LmsUser>

<div align="center">
    <h4>Administrator Dashboard</h4>
    <hr/>
    <p>
        
    </p>
    <table>
        <tr>
            <td>
               


                <a href="@Url.Action("UnassignedUsers", "Home")">
                    <button class="btn btn-primary" type="button">
                        Unassigned Users <span class="badge">
@{ using (var context = new SWC_LMSEntities())
   {

            @context.UnAssignedCount().ToString().Length

   }
}
                           </span></button>
                        </a>
                        </td>
                        <td>

                            <a href="@Url.Action("UserSearch", "Home")">
                                <button class="btn btn-primary" type="button"> User Search <span class="badge"></span></button>
                            </a>

                        </td>
                        </tr>
                    </table>


  
</div>