@using System.Collections
@using SwcLmsMastery.Models
@model SwcLmsMastery.Models.ApplicationUser


@{
    ViewBag.Title = "Awaiting Authorization";

}


<div align="center">
    <h3>@ViewBag.Title</h3>
    <p>
        Your account must be approved by a system administrator.<br /><br />You will be notified when your account has been activated.
    </p>



</div>
