
@{
    ViewBag.Title = "View";
}

<h2>User Details</h2>

<div class="well">
    <div class="form-group">
        @Html.LabelFor(m => m.Fname, new { @class = "col-md-2 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Fname, new {@class = "form-control"})
        </div>
     </div>
</div>

