@using System.Activities.Statements
@using SwcLmsMastery.Models.DBModels
@model SwcLmsMastery.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
    ViewBag.Title = "UserDetails";
}*@

<h2>UserDetails</h2>

