@model SwcLmsMastery.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_RegisterHomePage")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
